.lostLifeAlert {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  animation-duration: 1.5s;
  animation-name: alert;
  background-color: red;
}

@keyframes alert {
  50% {
    opacity: 0.4;
  }
}
